// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

footer {
  background-color: $gris_oscuro;

  .informacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 50px;

    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      color: white;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: $gris;
    }

    @include breakpoint(tablet) {
      padding-top: 60px;
      padding-left: 146px;
      padding-right: 146px;

      h2 {
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: $gris;
      }
    }
  }

  .formulario {
    padding-bottom: 87px;
    border-bottom: 1px solid white;

    input {
      color: white;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      padding-left: 24px;
      padding-bottom: 17px;
      border: none;
      border-bottom: 2px solid white;
      background: transparent;
      transition: border-bottom-color 0.3s ease;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      // Rojo si es inválido y tiene texto
      &:not(:placeholder-shown):invalid {
        border-bottom-color: $rojo;
      }

      // Verde si es válido y tiene texto
      &:valid:not(:placeholder-shown) {
        border-bottom-color: $verde;
      }

      &:focus {
        outline: none;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .button:hover {
        color: $verde;
      }

      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: white;
        opacity: 50%;
        margin-left: 26px;
      }

      input,
      textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        margin-bottom: 32px;

        &:last-child {
          border: none;
        }
      }

      textarea {
        height: 80px;
        padding-left: 24px;
        padding-bottom: 17px;
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        width: 144px;
        height: 38px;
        align-self: flex-end;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $verde;
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 2.29px;
      }
    }

    .icon-error,
    .msj_error {
      display: none;
    }

    @include breakpoint(tablet) {
      padding-left: 146px;
      padding-right: 146px;
      padding-bottom: 92px;
    }

    @include breakpoint(desktop) {
      border: none;

      input {
        width: 100%;
        box-sizing: border-box;
        position: relative;
      }

      form {
        position: relative;
      }

      .icon-error {
        display: none;
        position: absolute;
        right: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .msj_error {
        display: none;
        position: absolute;
        right: 0;
        top: 50px;
        color: $rojo;
        opacity: 50%;
        font-size: 12px;
        margin-top: 4px;
        padding-left: 5px;
      }

      input:invalid:not(:placeholder-shown) + .icon-error,
      input:invalid:not(:placeholder-shown) ~ .msj_error {
        display: block;
      }
    }
  }

  .footer_end {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;

    a {
      display: flex;
    }

    .adamkeyes {
      padding-bottom: 20px;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 25.6px;
    }

    .adamkeyes_tablet-desktop {
      display: none;
    }

    @include breakpoint(tablet) {
      padding-top: 30px;
      padding-bottom: 40px;
      flex-direction: row;
      justify-content: space-between;
      .adamkeyes_mobile {
        display: none;
      }

      .adamkeyes_tablet-desktop {
        display: block;
      }
    }

    @include breakpoint(desktop) {
      padding-top: 47px;
      padding-bottom: 92px;
      .adamkeyes_mobile {
        display: none;
      }

      .adamkeyes_tablet-desktop {
        display: block;
      }
    }

    .github_mobile,
    .icono_mobile,
    .linkedin_mobile,
    .twitter_mobile {
      @include breakpoint(tablet) {
        display: none;
      }

      @include breakpoint(desktop) {
        display: none;
      }
    }

    .github_tablet-desktop,
    .icono_tablet-desktop,
    .linkedin_tablet-desktop,
    .twitter_tablet-desktop {
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }

      @include breakpoint(desktop) {
        display: block;
      }
    }
  }

  .container_info_desktop {
    @include breakpoint(desktop) {
      display: flex;
      padding-top: 84px;
      padding-bottom: 92px;
      border-bottom: 1px solid white;
      justify-content: space-between;

      .informacion {
        padding: 0;
        gap: 0px;
        width: 445px;
        height: 208px;
        text-align: start;

        h2 {
          font-size: 88px;
          line-height: 88px;
          font-weight: 700;
          margin-bottom: 36px;
        }

        p {
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }

      .formulario {
        padding: 0;
        width: 445px;
        height: 327px;
      }
    }
  }

  .aro_izq_2_desktop {
    display: none;

    @include breakpoint(desktop) {
      display: block;
      position: absolute;
      left: -110px;
      top: 50%;
    }
  }

  @include breakpoint(desktop) {
    position: relative;
  }
}
