// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/*BP RESPONSIVE*/

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Colores */

$negro: #151515;
$verde: #4ee1a0;
$gris_oscuro: #242424;
$gris: #d9d9d9;
$rojo: #ff6f5b;

/* Fuente */

$fuente_principal: 'Space Grotesk', sans-serif;
